<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.edu.mail.api.dao.ContactDao" >
  <resultMap id="BaseResultMap" type="org.edu.mail.api.domain.Contact" >
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="movePhone" property="movephone" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="workPhone" property="workphone" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="userId" property="userId" jdbcType="VARCHAR" />
  </resultMap>

  <delete id="delete" parameterType="org.edu.mail.api.domain.Contact" >
    delete from contact
    where name = #{name,jdbcType=VARCHAR} and
          userId = #{userId,jdbcType=VARCHAR};
  </delete>

  <update id="update" parameterType="org.edu.mail.api.domain.Account">
    update contact
    <trim prefix="set" suffixOverrides=",">
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="movephone != null" >
        movePhone = #{movephone,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="workphone != null" >
        workPhone = #{workphone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        userId = #{userId,jdbcType=VARCHAR},
      </if>
    </trim>
    where name = #{name,jdbcType=VARCHAR} and
    userId = #{userId,jdbcType=VARCHAR};
  </update>

  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select name, email, movePhone,
      company, workPhone, remark, userId
    from contact
    where userId = #{userId,jdbcType=VARCHAR}
  </select>

  <insert id="insert" parameterType="org.edu.mail.api.domain.Contact" >
    insert into contact (name, email, movePhone, 
      company, workPhone, remark, userId
      )
    values (#{name,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{movephone,jdbcType=VARCHAR}, 
      #{company,jdbcType=VARCHAR}, #{workphone,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
       #{userId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.edu.mail.api.domain.Contact" >
    insert into contact
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="movephone != null" >
        movePhone,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="workphone != null" >
        workPhone,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="userId != null" >
        userId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="movephone != null" >
        #{movephone,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="workphone != null" >
        #{workphone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>