<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.edu.mail.api.dao.UserDao">
    <resultMap id="BaseResultMap" type="org.edu.mail.api.domain.User">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="secret" property="secret" jdbcType="VARCHAR"/>
        <result column="verify" property="verify" jdbcType="VARCHAR"/>
        <result column="time" property="time" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, email, secret, verify, time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="org.edu.mail.api.domain.User">
    insert into user (id, name, email, secret, verify, time
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},  #{email,jdbcType=VARCHAR}, #{secret,jdbcType=VARCHAR}
     ,#{verify,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="org.edu.mail.api.domain.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="email != null">emailemail
                email,
            </if>
            <if test="secret != null">
                secret,
            </if>
            <if test="verify != null">
                verify,
            </if>
            <if test="time != null">
                time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="secret != null">
                #{secret,jdbcType=VARCHAR},
            </if>
            <if test="verify != null">
                #{verify,jdbcType=VARCHAR},
            </if>
            <if test="time != null">
                #{time,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.edu.mail.api.domain.User">
        update user
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="secret != null">
                secret = #{secret,jdbcType=VARCHAR},
            </if>
            <if test="verify != null">
                verify = #{verify,jdbcType=VARCHAR},
            </if>
            <if test="time != null">
                time = #{time,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.edu.mail.api.domain.User">
    update user
    set name = #{name,jdbcType=VARCHAR},
        email = #{email,jdbcType=VARCHAR},
      secret = #{secret,jdbcType=VARCHAR},
      verify = #{verify,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
    </select>

    <select id="isExist" resultMap="BaseResultMap" parameterType="org.edu.mail.api.domain.User">
        select
        <include refid="Base_Column_List"/>
        from user
        where (name = #{name,jdbcType=VARCHAR} or email = #{email,jdbcType=VARCHAR})
        and secret = #{secret,jdbcType=VARCHAR}
    </select>
</mapper>